[Desktop Entry]
Name=Maui Calendar
Comment=Organize events in the calendar
TryExec=maui-calendar
Exec=maui-calendar %U
Terminal=false
Type=Application
GenericName=Calendar
StartupNotify=true
Icon=office-calendar
Categories=Qt;KDE;Office;Calendar;
MimeType=text/calendar;
SingleMainWindow=true
